@attribute [Route(Routing.Connectors.Page)]

@if (Service.Connectors is not null)
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudDataGrid Items="@Service.Connectors" Striped>
            <Columns>
                <Column T="ConnectorItem" Field="Name" Title="Name" />
                <Column T="ConnectorItem" Field="Type" />
                <Column T="ConnectorItem" Field="Root" Title="Root" />
                <Column T="ConnectorItem" Field="CredentialName" Title="Credentials" />
            </Columns>
        </MudDataGrid>
        <MudFab Class="mt-10" Href="@Routing.Connectors.Add" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
    </MudContainer>
}
else
{
    <div>Loading</div>
}

@code {

    [Inject]
    public SettingsService Service { get; set; }

    private IDisposable storeConnectors;

    override protected async Task OnInitializedAsync()
    {
        Service.LoadConnectors((c) =>
        {
            StateHasChanged();
        });
    }
}
