.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.thing-item-wrapper {
    position: relative;
}

.thing-item-header {
    top: 0px;
    width: 100%;
    height: 60px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #2e2e2e;
    opacity: .85;
    position: absolute;
    color: #fff;
    font-weight: bolder;
    padding: 6px;
    font-size: 1.0em;
}

.thing-item-header small {
    font-size: .9em;
    font-weight: lighter;
}


.thing-item-footer {
    pointer-events: none;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #b3adad;
    opacity: 0;
    position: absolute;
    color: #fff;
    font-weight: bolder;
    padding: 6px;
    font-size: 1.0em;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

    .thing-item-footer.active {
        opacity: .8;
        transition: opacity;
        transition-timing-function: ease-in-out;
        transition-duration: 400ms;
        transition-delay: 0s;
    }


    .text-elipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
